.messageInpit {
  position: fixed;
  right: 10%;
  bottom: 0;
  width: 30%;
}
.testInpit {
  position: fixed;
  left: 10%;
  bottom: 0;
  width: 30%;
}
.contents {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}

.userMessage {
  width: 20%;
  padding: 10px 20px;
  word-wrap: break-word;
  border-radius: 30px;
  background-color: rgba(128, 128, 128, 0.288);
  margin-top: 10px;
  margin-left: auto;
}
.unUserMessage {
  width: 20%;
  padding: 10px 20px;
  word-wrap: break-word;
  border-radius: 30px;
  background-color: rgba(128, 128, 128, 0.288);
  margin-top: 10px;
  margin-right: auto;
}
