.header {
  position: fixed;
  display: flex;
  justify-content: right;
  width: 100%;
  z-index: 10;
  padding-top: 15px;
  padding-bottom: 10px;
}
.header_home {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 10;
  padding-top: 15px;
  background-color: #0000001d;
}
.item {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  width: 70%;
}

.item li {
  list-style: none;
}
.backBtn {
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.h3 {
  color: white;
}
.item :hover {
  color: rgb(255, 77, 0);
  transition: color, font-size 0.5s;
  font-size: 24px;
}

.backBtn :hover {
  color: rgb(255, 77, 0);
  transition: color, font-size 0.5s;
  font-size: 24px;
}
