.container {
  height: 100vh;
  background-image: url(../image/banner.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 84px;
  animation: title 5s infinite linear;
}
@keyframes title {
  0% {
    transform: translate(-10%, 0px);
    color: aqua;
  }
  50% {
    transform: translate(10%, 0px);
    color: white;
  }
  100% {
    transform: translate(-10%, 0px);
    color: aqua;
  }
}
