.header {
  position: fixed;
  display: flex;
  justify-content: right;
  color: white;
  width: 100%;
  z-index: 10;
  padding-top: 25px;
  padding-bottom: 25px;
}
.item {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  width: 70%;
}
.item li {
  list-style: none;
}

.item :hover {
  color: rgb(226, 74, 13);
  transition: color, font-size 0.5s;
  font-size: 24px;
}
