.container {
  border: 1px solid black;
  height: 100vh;
  background: radial-gradient(ellipse 90% 100% at left top, #022e83, black);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
